body {
    font-family: sans-serif;
}
header {
    background-color:#0776a0;
    padding: 10px;
} 
header a {
text-decoration: none;
background-color: #f8b100;
border-radius:5px;
padding: 3px; 
margin: 10px;
font-size: 22px;
color: black;
}       
.h2class1 {
    text-align: center;
    font-weight: 700;
    font-size:40px;
}
    .h2class {
        color: orange;
    }
 }  
footer {
    padding: 10px;
    background-color:#39829c ;
}
footer p {
    font-size 20px;
    margin: 20px;
    color: white;
}

